In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("UsedCars.csv")

In [3]:
df

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,7450.0,65.0,82000.0,Petrol,86,1,0,1300,3,1015
1,7250.0,74.0,130025.0,Petrol,110,1,0,1600,3,1050
2,8950.0,80.0,64000.0,Petrol,110,0,0,1600,3,1055
3,11450.0,54.0,62987.0,Petrol,110,0,0,1600,5,1080
4,NaN,42.0,38932.0,Petrol,110,1,0,1600,3,1040
...,...,...,...,...,...,...,...,...,...,...
1441,8750.0,68.0,101889.0,petrol,110,1,0,1600,5,1075
1442,9950.0,62.0,109547.0,petrol,110,0,0,1600,5,1075
1443,9250.0,80.0,44444.0,Petrol,110,1,0,1600,3,1050
1444,12450.0,54.0,46230.0,Petrol,110,1,0,1600,3,1055
1445,8500.0,77.0,62285.0,Petrol,110,1,0,1600,5,1075

In [9]:
df['Price'].groupby(df['Automatic']).mean()

Automatic
0    10699.186166
1    11224.625000
Name: Price, dtype: float64

In [15]:
auto = df[df["Automatic"]==1]
manual = df[df["Automatic"]==0]

In [16]:
auto

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
6,8250.0,70.0,59017.0,petrol,107,1,1,1600,3,1080
8,9950.0,65.0,65513.0,Petrol,110,1,1,1600,4,1070
11,9500.0,66.0,74963.0,Petrol,107,0,1,1600,3,1085
23,8950.0,75.0,102005.0,Petrol,107,1,1,1600,5,1105
32,20500.0,20.0,20000.0,Petrol,110,0,1,1600,5,1165
...,...,...,...,...,...,...,...,...,...,...
1330,20950.0,14.0,5278.0,Petrol,110,1,1,1600,4,1150
1334,20500.0,26.0,56000.0,Petrol,110,1,1,1600,5,1180
1370,15500.0,25.0,49163.0,Petrol,110,0,1,1600,5,1165
1416,8750.0,74.0,42317.0,petrol,107,1,1,1600,5,1100
1440,7950.0,78.0,90011.0,Petrol,86,0,1,1300,3,1045

In [21]:
from scipy.stats import ttest_ind
ttest_ind(auto.Price, manual.Price, equal_var=False)

Ttest_indResult(statistic=nan, pvalue=nan)

In [22]:
from scipy.stats import ttest_ind
ttest_ind(auto.dropna()["Price"], manual.dropna()["Price"], equal_var=False)

Ttest_indResult(statistic=1.249930314314651, pvalue=0.21461957865398504)

In [ ]:
# p_value is greater than 0.05 so there is signoficance difference the avg price of manual and atomatic

In [29]:
df["FuelType"].value_counts()

Petrol                  1073
petrol                   199
Diesel                   157
CNG                        9
CompressedNaturalGas       4
methane                    4
Name: FuelType, dtype: int64

#### ANOVA TEST

In [1]:
from scipy.stats import f_oneway

In [49]:
df["FuelType"] = df["FuelType"].replace(["diesel"], "Diesel")
df["FuelType"] = df["FuelType"].replace(["petrol"], "Petrol")

In [50]:
Petrol = df[df["FuelType"]=="Petrol"]
Diesel = df[df["FuelType"]=="Diesel"]
CNG = df[df["FuelType"]=="CNG"]
CompressedNaturalGas = df[df["FuelType"]=="CompressedNaturalGas"]
methane = df[df["FuelType"]=="methane"]

In [51]:
df["Price"].groupby(df["FuelType"]).mean()

FuelType
CNG                      9378.888889
CompressedNaturalGas     9537.500000
Diesel                  11275.038462
Petrol                  10678.592417
methane                  9400.000000
Name: Price, dtype: float64

In [52]:
f_oneway(Petrol.dropna()["Price"], 
         Diesel.dropna()["Price"],
         CNG.dropna()["Price"],
         CompressedNaturalGas.dropna()["Price"], 
         methane.dropna()["Price"])

F_onewayResult(statistic=1.557775373266618, pvalue=0.18317706455253022)

In [36]:
# p_value is greater than 0.05 so there is significance difference the avg price of different fueltype

In [38]:
df["MetColor"].value_counts()

1    975
0    471
Name: MetColor, dtype: int64

In [40]:
df.Price.groupby(df.MetColor).mean()

MetColor
0    10158.690832
1    11003.853608
Name: Price, dtype: float64

In [41]:
MetColor0 = df[df["MetColor"]==0]
MetColor1 = df[df["MetColor"]==1]

In [42]:
ttest_ind(MetColor0.dropna()["Price"], MetColor1.dropna()["Price"])

Ttest_indResult(statistic=-4.148701898199715, pvalue=3.5400828979506025e-05)

In [43]:
f_oneway(MetColor0.dropna()["Price"], 
         MetColor1.dropna()["Price"])

F_onewayResult(statistic=17.211727440125987, pvalue=3.5400828979534804e-05)

In [ ]:
# p_value is less than 0.05 reject null hypothesis

In [53]:
df.FuelType.unique()

array(['Petrol', 'CNG', 'Diesel', 'CompressedNaturalGas', 'methane'],
      dtype=object)

In [54]:
df.FuelType.nunique()

5